{% extends "base.html" %}
{% block content %}
    <h1>Add User</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username }}
        </div>
        <div>
            {{ form.start_date.label }}
            {{ form.start_date }}
        </div>
        <div>
            {{ form.birth_date.label }}
            {{ form.birth_date }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
{% endblock %}
