{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Add Time Off</h2>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.date.label(class="form-label") }}
                    {{ form.date(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.hours.label(class="form-label") }}
                    {{ form.hours(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.reason.label(class="form-label") }}
                    {{ form.reason(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
